<!doctype html>
<html>
	<head>
		<title>TODOS</title>

		<script>
var sendPost = function sendPost(cur_url, req_url, todo_id){
	var xhr = new XMLHttpRequest();

	var url = req_url;

	xhr.open("POST", url, true);

	xhr.onreadystatechange = function () {
		if (xhr.readyState == 4 && xhr.status == 304) {
			window.location = cur_url;
		}
	};

	xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
	xhr.send("todo_id="+todo_id);
}
function handleIt(txt) {   // txt == content of form input
	alert("Entered value: " + txt);
}

		</script>
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">

	</head>

	<body>
		<div class="ui vertical masthead center aligned random segment" style="padding:10em 0em">
			<div class="ui container">      

				<section class="todoapp">
					<header class="header">
						<h1>
							Todos
						</h1>
					</header>
				</section>

				<div class="value">
					{% block register %}

					{% endblock %}

					{% block show %}

					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
